/* ============================================================ default ============================================================*/
:root{
    font-family: 'Segoe UI';
    font-family: 20px;
    --azul-escuro: rgb(0, 29, 75);
    --branco-padrao: white;
    --preto-padrao: black;
}

/* ============================================================ form ============================================================*/