/* ============================================================ default ============================================================*/
:root{
    font-family: 'Outfit', sans-serif;
    font-family: 20px;
    --azul-escuro: rgb(0, 29, 75);
    --branco-padrao: rgb(247, 244, 244);
    --preto-padrao: black;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--branco-padrao);
}

/* ============================================================ form ============================================================*/
main{
    background-color: aqua;
    background-size: cover;
}